*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgrey;
}
h1{
    text-align: center;
    margin: 20px 0;
    background-color: royalblue;
}
#openDialogueButton{
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
}
dialog{
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#formContainer{
    display: none; /* will be grid from JS. **issue** -- when turning on display
    from here it makes the dialog and this container appears as separate. like
    when its on then dialog box is showing its own box and formContainer is showing its
    own box plus form box is always visible no maatter. */
    width: 50vw;
    grid-template: repeat(4, 40px) / 150px 200px;
    gap: 10px;
    padding: 50px;
}
input{
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
}
::backdrop{
    backdrop-filter: blur(5px);
}
/* Dom section */
#bookContainer{
    display: inline-grid;
    margin: 5px;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: lightcoral;
}
#bookContainer #readCheckbox{
    margin: 0 auto 0 0;
    width: 25px;
}
#bookContainer label{
    font-weight: bold;
}
#bookContainer h2, p, label{
    background-color: lightcoral;
}
#bookContainer button{
    width: 100px;
    grid-column: 2 / 3;
    text-align: center;
}